/* zerando o arquivo */
*{
    margin: 0;
    padding: 0;
    background-color: #fff7ea;
}

/* configurações de fonte */
body{
    font-family: "Verdana";
    color: #966a43;
}

/* configurações de header */
header{
    width: 100%;
    height: 80px;
    background-color: #fff7ea;
}
#cabecalho{
    width: 1200px;
    height: 80px;
    margin: auto;
    background-color: #ffcf85;
}
#headerlogo{
    width: 300px;
    height: 80px;
    background-color: #ffcf85;
    float: left;
}
#menu{
    width: 900px;
    height: 50px;
    background-color: #ffcf85;
    display: inline-block;
    float: right;
    padding-top: 30px;
}



/* configurações de logo */
#imgheader{
    padding-top: 10px;
    padding-left: 35px;
    background-color: #ffcf85;
}
#imgfooter{
    padding-top: 10px;
    padding-left: 35px;
    background-color: #ffcf85;
}


/* configurações de nav */
nav{
    width: 100%;
    height: 80px;
    background-color: #ffcf85;
    margin: auto;
}
li{
    display: inline-block;
    text-decoration: none;
    background-color: #ffcf85;
}
ul{
    display: inline-block;
    background-color: #ffcf85;
}


/* configurações de main */
main{
    width: 100%;
    height: 700px;
    background-color: #fff7ea
}
#conteudo{
    width: 700px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#conteudo2{
    width: 1200px;
    height: 500px;
    margin: auto;
}
#logged{
    width: 1200px;
    height: 100px;
    margin: auto;
}

/* configurações do usercp */
#conteudocp{
    width: 700px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#conteudocp2{
    width: 1200px;
    height: 500px;
    margin: auto;
}


/* configurações de login */
#conteudologin{
    width: 700px;
    height: 600px;
    margin: auto;   
}

/* configurações de logout */
#conteudologout{
    width: 700px;
    height: 500px;
    margin: auto;  
}
#conteudologout2{
    width: 500px;
    height: 500px;
    margin: auto;
}


/* configurações de reserva */
#reserva{
    width: 700px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#reserva2{
    width: 1200px;
    height: 500px;
    margin: auto;
}


/* configurações de atualiza */
#atualiza{
    width: 700px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#atualiza2{
    width: 1200px;
    height: 500px;
    margin: auto;
}


/* configurações de registro */
#registro{
    width: 700px;
    height: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#registro2{
    width: 1200px;
    height: 500px;
    margin: auto;
}



/* configurações de footer */
footer{
    width: 100%;
    height: 400px;
    background-color: #fff7ea;
}
#rodape{
    width: 1200px;
    height: 350px;
    background-color: #ffcf85;
    margin: auto;
}
#logofooter{
    width: 450px;
    height: 200px;
    background-color: #ffcf85;
    display: inline-block;
    float: left;
}
#quicklist{
    width: 300px;
    height: 200px;
    background-color: #ffcf85;
    display: inline-block;
}
#contato{
    width: 450px;
    height: 200px;
    background-color: #ffcf85;
    display: inline-block;
    float: right;
}
.imgsns{
    padding-left: 20px;
    padding-right: 20px;
}


/* configurações de link */
a:link{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
}
a:visited{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
}
a:active{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;    
    background-color: #eb901d;
}
a:hover{
    font-size: 20px;
    color: #966a43;    
    background-color: #fff7ea;
    font-style: italic;
}

#contato a:link{ 
    font-size: 30px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
}
#contato a:visited{ 
    font-size: 30px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
}
#contato a:active{ 
    font-size: 30px;
    color: #966a43;
    text-decoration: none;
    background-color: #eb901d;
}
#contato a:hover{
    font-size: 30px;
    color: #966a43;
    background-color: #eb901d;
    font-style: italic;
}

#quicklist a:link{
    background-color: #ffcf8585;
}
#quicklist a:visited{
    background-color: #ffcf85;
}
#quicklist a:hover{
    background-color: #ffcf85;
    color: #966a43;
}


/*--------------------------*/
/* configurações de header */
/* configurações de header */
/* configurações de header */
