/* zerando o arquivo */
*{
    margin: 0;
    padding: 0;
    background-color: #fff7ea;
}

/* configurações de header */
header{
    width: 100%;
    height: 80px;
    background-color: #fff7ea;
}
#cabecalho{
    width: 1200px;
    height: 80px;
    margin: auto;
    background-color: #ffcf85;
}
#headerlogo{
    width: 300px;
    height: 80px;
    background-color: #ffcf85;
    float: left;
}
#menu{
    width: 900px;
    height: 50px;
    background-color: #ffcf85;
    display: inline-block;
    float: right;
    padding-top: 30px;
}

/* configurações de nav */
nav{
    width: 100%;
    height: 80px;
    background-color: #ffcf85;
    margin: auto;
}
li{
    display: inline-block;
    text-decoration: none;
    background-color: #ffcf85;
}
ul{
    display: inline-block;
    background-color: #ffcf85;
}

/* configurações de main */
main{
    width: 100%;
    height: 2785px;
    background-color: #fff7ea
}
#destaque{
    width: 1200px;
    height: 685px;
    background-color: #f8f4f1;
    margin: auto;
}
#servicos{
    width: 1200px;
    height: 700px;
    background-color: whitesmoke;
    margin: auto;
}
#blog{
    width: 1200px;
    height: 700px;
    background-color: aliceblue;
    margin: auto;
}
#mapa{
    width: 1200px;
    height: 700px;
    margin: auto;
}

/* configurações de footer */
footer{
    width: 100%;
    height: 400px;
    background-color: #fff7ea;
}
#rodape{
    width: 1200px;
    height: 350px;
    background-color: #ffcf85;
    margin: auto;
}
#logofooter{
    width: 450px;
    height: 200px;
    background-color: #ffcf85;
    display: inline-block;
    float: left;
}
#quicklist{
    width: 300px;
    height: 200px;
    background-color: #ffcf85;
    display: inline-block;
}
#contato{
    width: 450px;
    height: 200px;
    background-color: #ffcf85;
    display: inline-block;
    float: right;
}
.imgsns{
    padding-left: 20px;
    padding-right: 20px;
}

/* conigurações de imagens */
.figura{
    background: transparent;
    margin: auto;
}
#servico1{
    width: 600px;
    height: 600px;
    display: inline-block;
}
#servico2{
    width: 600px;
    height: 600px;
    display: inline-block;
    float: right;
}
#blogpost1{
    width: 600px;
    height: 600px;
    display: inline-block;
}
#blogpost2{
    width: 600px;
    height: 600px;
    display: inline-block;
    float: right;
}
#imgheader{
    padding-top: 10px;
    padding-left: 35px;
    background-color: #ffcf85;
}
#imgfooter{
    padding-top: 10px;
    padding-left: 35px;
    background-color: #ffcf85;
}


/* configurações de link */
a:link{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
    
}
a:visited{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    
}
a:active{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;    
    background-color: #eb901d;
}
a:hover{
    font-size: 20px;
    color: #966a43;    
    background-color: #fff7ea;
    font-style: italic;
}

#cabecalho a:link{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    
}
#cabecalho a:visited{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    
}
#cabecalho a:active{ 
    font-size: 20px;
    color: #966a43;
    text-decoration: none;
    
    background-color: #eb901d;
}
#cabecalho a:hover{
    font-size: 20px;
    color: #966a43;    
    background-color: #eb901d;
    font-style: italic;
}

nav a:link{
    background-color: #ffcf85;
}
nav a:hover{
    background-color: #ffcf85;
    color: #966a43;
}

#contato a:link{ 
    font-size: 30px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
}
#contato a:visited{ 
    font-size: 30px;
    color: #966a43;
    text-decoration: none;
    background-color: transparent;
}
#contato a:active{ 
    font-size: 30px;
    color: #966a43;
    text-decoration: none;
    background-color: #eb901d;
}
#contato a:hover{
    font-size: 30px;
    color: #966a43;
    background-color: #eb901d;
    font-style: italic;
}

#quicklist a:link{
    background-color: #ffcf85;
}
#quicklist a:visited{
    background-color: #ffcf85;
}
#quicklist a:hover{
    background-color: #ffcf85;
    color: #966a43;
}


/*--------------------------*/
/* configurações de header */
/* configurações de header */
/* configurações de header */
/* configurações de header */
/* configurações de header */
/* configurações de header */
/* configurações de header */
